body {
  font-family: 'Segoe UI', sans-serif;
}
.card {
  border-radius: 12px;
}
.terminal {
  font-family: 'Courier New', monospace;
  background-color: #000;
  color: #0f0;
  border: 1px solid #333;
}
.list-group-item:hover {
  background-color: #222;
}

.nav-link:hover {
  background-color: #333;
  border-radius: 6px;
}

.list-group-item {
  background-color: #1c1c1c;
  color: #fff;
  border: none;
}

.list-group-item + .list-group-item {
  margin-top: 5px;
}
